* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main{
  width: 100%;
}
.toolbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 44px;
  width: 100%;
  height: 48px;
}

.toolbar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 10.67%;
  height: 40px;
  right: 24px;
  border-radius: 8px;
}

.toolbar-container .toolbar-icon img {
  width: 40px;
  height: auto;
}

.headline {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 168.1013333333333%;
  height: 520px;
  background-image: url(images/header-illsutration-mobile.svg);
  background-size: 100%;
}

.greeting {
  margin: 64px 27px 0px 27px;
  
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.heading,h1,h2,h3{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172B4D;
  text-align: center;
}

.greeting span {
  color: #36b37e;
}

.article p{
  /* position: absolute;
  width: 87.2%;
  height: 164px;
  left: 27px;
  top: 382px; */
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  margin: 15px 27px;
}

.social-media-icon-container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 45.379%;
  height: 19.62px;
  left: 28%;
  top: 568.89px;
  margin-top: 24.85px;
}

.social-media-icon-container li {
  list-style: none;
}

.social-media-icon {
  margin-right: 20px;
}

.social-media-icon:active {
  transform: scale3d(0.8, 0.8, 0.8);
}
.downarrow-container{
  margin-top: 83px;
}
.work-container {
  margin-left: 6.93%;
  margin-right: 7.46667%;
}

.work-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.work-container .work-title img {
  width: 12.8%;
  padding-top: 6.4%;
}

.my-projects {
  margin-top: 16.53%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(6, 480px);
  row-gap: 24px;
}

.work-cards {
  border-radius: 8px;
  border: 2px solid #D0D9D4;
  /* display: grid;
  grid-template-rows: 252px 224px ; */
  background-color: #EBF0EE;
  display: flex;
}

.work-desc{
  background-color: white;
  border-radius: 8px;
  width: 100%;
  height: 224px;
  align-self: flex-end;
}
.work-desc .languages{
  display: flex;
  justify-content: space-between;
}
.work-cards .work-desc p{
  margin: 16px;
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #3A4A42;
}
.work-desc .languages li{
  list-style: none;
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 12px;
  background-color: #EBF0EE;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: #3A4A42;  
}
.button-container{
  display: flex;
  justify-content: center;
  margin-top: 29px;
}
.button-container button{
  padding: 12px;
  border: none;
  color: #FFFFFF;
  background-color: #36B37F;
  border-radius: 4px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
}
.work-cards .work-desc button:hover{
  background-color: #238d61;
}
.about-me-container{
  /* width: 100%; */
  background-image: url(images/illustration\ 1-\ about\ me-mobile.svg), url(images/illustration\ 2-about\ me\ mobile.svg);
  background-size: 18.13%,17.9%;
  padding-top: 68px;
  background-repeat: no-repeat,no-repeat;
  background-position: 100% 7%,left bottom;
}
.about-me-container .article {
  margin-top: 24px;
}
