* {
  margin: 0;
  padding: 0;
}

/* *{
    outline: red 1px solid !important;
  } */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  width: 100%;
  font-family: 'Inter', sans-serif;
}

header {
  width: 100%;
}

.container {
  width: 100%;
  height: 820px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(images/header-illsutration-mobile.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0.2vw 11vh;
}

.animation-left {
  animation-name: slide-in-left;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

#animation-right {
  animation-name: slide-in-right;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.work-container .work-title img {
  width: 12.8%;
  padding-top: 6.4%;
}

.navlink {
  transition: 0.7s ease;
}

.hamburger {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  position: fixed;
  right: 30px;
  top: 25px;
  width: 30px;
  height: 22px;
  padding: 4px;
  border-radius: 5px;
}

.hamburger .bar {
  display: block;
  width: 22px;
  height: 2px;
  margin: 4px auto;
  background-color: black;
  border-radius: 3px;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

.skills-container-each .skill-icon img:hover {
  animation: rotation 0.5s 1 linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes slide-in-right {
  from {
    margin-right: 300%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}

@keyframes slide-in-left {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.toolbar-container {
  padding-top: 20px;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar-icon {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: -200%;
  height: 100vh;
  top: 0;
  background-color: #fff;
  width: 100%;
  text-align: left;
  transition: 0.3s;
  padding-top: 80px;
  padding-left: 30px;
}

.toolbar-icon.active {
  left: 0;
  color: #3a4a42;
  font-size: 32px;
}

.toolbar-container .toolbar-icon li {
  list-style: none;
}

.toolbar-container .toolbar-icon a {
  text-decoration: none;
  font-size: 32px;
  font-weight: 600;
  line-height: 60px;
  color: #3a4a42;
}

.headline {
  display: flex;
  flex-direction: column;
  max-width: 168.1013333333333%;
  height: 520px;
  margin-top: 90px;
}

.greeting {
  margin: 64px 27px 0 27px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.heading,
h1,
h2,
h3,
h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  text-align: center;
}

.greeting span {
  color: #36b37e;
}

.article p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  margin: 15px 27px;
}

#social-desktop {
  display: none;
}

.social-media-icon-container {
  width: 100%;
  height: 48px;
  margin-bottom: 13px;
}

.social-media-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45.379%;
  height: 19.62px;
  margin-top: 24.85px;
  margin-left: 28%;
}

.social-media-icon-container .social-media-icon-box li {
  list-style: none;
}

.social-media-icon {
  margin-right: 20px;
  transition: all 0.2s ease-in-out;
}

.social-media-icon:active {
  transform: scale3d(0.8, 0.8, 0.8);
}

.social-media-icon:hover {
  transform: scale3d(1.3, 1.3, 1.3);
}

.downarrow-container {
  margin-top: 65px;
}

.work-container {
  width: 90%;
  margin: 0 auto;
}

.work-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-projects {
  width: 100%;
  margin-top: 16.53%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(6, 480px);
  row-gap: 24px;
  overflow-x: hidden;
}

.work-cards {
  border-radius: 8px;
  border: 1px solid #d0d9d4;
  background-color: #ebf0ee;
  display: flex;
}

.work-desc {
  background-color: white;
  border-radius: 8px;
  width: 100%;
  height: 224px;
  align-self: flex-end;
}

.work-desc .languages {
  display: flex;
  justify-content: space-between;
}

.work-cards .work-desc p {
  margin: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #3a4a42;
}

.work-desc .languages li {
  list-style: none;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 12px;
  background-color: #ebf0ee;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: #3a4a42;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 29px;
}

.button-container button {
  padding: 12px;
  border: none;
  color: #fff;
  background-color: #36b37f;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
}

.button:hover {
  background-color: #2aaf78;
  box-shadow: 0 3px 5px #18724d;
}

.button:active {
  background-color: #1f9865;
  box-shadow: 0 3px 5px #18724d;
  transform: translateY(4px);
}

.contact-bg .contact-me-container .type-in button {
  width: 130px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 35px;
}

.see-project-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  z-index: 10;
  background-color: rgb(255, 255, 255);
  width: 85vw;
  max-width: 90%;
  padding: 15px;
  height: 90vh;
  transition: 200ms ease-in-out;
}

.close-container {
  position: fixed;
  top: 23px;
  right: 7vw;
}

.close-container .close-button {
  cursor: pointer;
  font-size: 35px;
  color: #fff;
  outline: none;
  border-radius: 5px;
  padding: 0 8px;
  background-color: unset;
  border: none;
}

.see-project-container #project-img {
  width: 100%;
  border-radius: 8px;
}

.project-title-container {
  padding-top: 10px;
}

.see-project-container .project-tech li {
  list-style: none;
  margin-right: 5px;
  padding: 8px 12px;
  background-color: #ebecf0;
  border-radius: 3px;
  font-size: 10px;
  font-weight: 600;
  color: #344563;
}

.project-title-container .see-live-container a {
  text-decoration: none;
  padding-right: 5px;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
}

.project-title-container .see-source-container a {
  text-decoration: none;
  padding-right: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
}

.project-title-container h2 {
  font-size: 20px;
  line-height: 25px;
  text-align: left;
  width: 57%;
}

.see-live-container {
  position: absolute;
  bottom: 2vh;
  left: 15px;
  display: flex;
  width: 31%;
  height: 20px;
  justify-content: space-around;
  align-items: center;
  background-color: #36b37e;
  padding: 12px 16px;
  border-radius: 5px;
}

.see-source-container {
  position: absolute;
  bottom: 2vh;
  right: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 38%;
  height: 21px;
  padding: 12px 16px;
  border-radius: 5px;
  background-color: #36b37e;
}

.see-project-container .project-title-container .see-live-container img {
  padding-top: 4px;
  width: 24px;
}

.see-project-container .project-title-container .see-source-container img {
  padding-top: 3px;
  width: 19px;
}

.project-tech {
  display: flex;
  margin-top: 10px;
}

.project-tech li:nth-child(4),
.project-tech li:nth-child(5),
.project-tech li:nth-child(6) {
  display: none;
}

.project-desc {
  margin-top: 10px;
  font-size: 12px;
  line-height: 20px;
  color: #344563;
}

.overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c1c7d0;
  pointer-events: none;
  transition: 200ms ease-in-out;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.about-me-container {
  background-image: url(images/illustration\ 1-\ about\ me-mobile.svg), url(images/illustration\ 2-about\ me\ mobile.svg);
  background-size: 18.13%, 17.9%;
  padding-top: 68px;
  background-repeat: no-repeat, no-repeat;
  background-position: 100% 7%, left bottom;
}

.about-me-container .article {
  margin-top: 24px;
}

.skills-container-grid {
  max-width: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 316px);
  grid-template-columns: 100%;
  row-gap: 24px;
  margin: 59px 24px 0 24px;
}

.skills-container-each {
  width: 90%;
  margin: 0 auto;
  border-radius: 8px;
  background-color: #ebf0ee;
  border: 1px solid #c1c7d0;
}

.skill-icon {
  margin-top: 23px;
  display: flex;
  justify-content: center;
}

.skills {
  width: 90%;
  margin: 0 auto;
}

.skills-container-grid .skills-container-each p {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
  text-align: center;
}

.skills-container-each .skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 24px 17px;
}

.skills-container-each .skills li {
  padding: 12px;
  background-color: #fff;
  list-style: none;
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #36b37e;
  margin-right: 8px;
  margin-bottom: 8px;
}

.contact-bg {
  width: 100%;
  height: auto;
  background-image: url(images/illustration-contact-form.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 100% 95%;
}

.black-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.contact-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 24px 0 24px;
}

.cm-heading {
  margin-bottom: 58px;
}

.contact-me-container .type-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-container {
  width: 100%;
}

.contact-me-container .type-in #name,
#email {
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  margin-bottom: 26px;
  padding: 15px 16px;
}

#name::placeholder,
#email::placeholder {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
}

.contact-me-container .type-in textarea {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #60c095;
  border-radius: 4px;
  margin-bottom: 26px;
  padding: 12px;
}

.contact-me-container .type-in textarea::placeholder {
  color: #42526e;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.contact-me-container .type-in p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin-bottom: 15px;
}


@media screen and (min-width: 768px) {
  /* *{
    outline: red 1px solid !important;
  } */
  html {
    width: 98.7vw;
    justify-content: center;
  }

  body {
    width: 100%;
  }

  #social-desktop {
    display: block;
  }

  #social-mobile {
    display: none;
  }

  .animation-left:hover {
    translate: 8px 8px;
  }

  .container {
    height: 1140px;
    background-image: url(images/Header-llustration-desktop.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0.2vw 0%;
    width: 100%;
    animation-name: zoom-out;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
  }

  @keyframes zoom-out {
    from {
      transform: scale3d(0.3, 0.3, 0.3);
    }

    80% {
      transform: scale3d(1.3, 1.3, 1.3);
    }

    to {
      transform: scale3d(1, 1, 1);
    }
  }

  .toolbar-container {
    padding-top: 0;
    margin-top: 0;
  }

  .toolbar-icon {
    position: relative;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    left: 0%;
    background-color: unset;
    padding-top: 0;
    padding-left: 0;
  }

  .hamburger {
    margin-left: 0;
    display: none;
  }

  .project-tech li {
    list-style: none;
    margin-right: 5px;
    padding: 5px 8px;
    background-color: #ebecf0;
    border-radius: 5px;
    font-size: 9px;
    font-weight: 600;
    color: #344563;
  }

  .toolbar-container .toolbar-icon li {
    display: flex;
    align-items: center;
    height: auto;
  }

  .project-tech li:nth-child(4),
  .project-tech li:nth-child(5),
  .project-tech li:nth-child(6) {
    display: block;
  }

  .toolbar-container .toolbar-icon li:nth-child(2) {
    margin-left: 40px;
  }

  .toolbar-container .toolbar-icon li:nth-child(3) {
    margin-left: 40px;
  }

  .toolbar-container .toolbar-icon a {
    display: block;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: #505f79;
    transition: all 0.2s ease-in-out;
    text-align: left;
  }

  .project-title-container .see-live-container a,
  .project-title-container .see-source-container a {
    text-decoration: none;
    padding-right: 5px;
    font-size: 10px;
    color: #fff;
  }

  .toolbar-container .toolbar-icon a:hover {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  .greeting {
    margin-top: 90px;
  }

  .greeting .heading {
    font-size: 40px;
    line-height: 60px;
  }

  .headline {
    margin-top: 0;
    height: 450px;
  }

  .headline .article {
    width: 59vw;
    margin: 20px auto;
  }

  .headline .article p {
    text-align: center;
    line-height: 32px;
    margin: 0;
  }

  .downarrow-container {
    margin-top: 15px;
  }

  .work-container .work-title img {
    display: none;
  }

  .work-container {
    width: 100%;
    margin-top: 0;
  }

  .my-projects {
    width: 100%;
    margin-top: 52px;
    padding-bottom: 52px;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(2, 474px);
    gap: 32px 24px;
    justify-content: center;
  }

  .see-project-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 10;
    background-color: rgb(255, 255, 255);
    width: 75vw;
    max-width: 90%;
    padding: 12px;
    height: 92vh;
    transition: 200ms ease-in-out;
  }

  .close-container {
    position: unset;
    display: flex;
    justify-content: flex-end;
  }

  .close-container .close-button {
    cursor: pointer;
    font-size: 25px;
    color: #67798e;
    outline: none;
    border-radius: 5px;
    padding: 0 8px;
    background-color: #ebecf0;
    border: none;
  }

  .see-project-container #project-img {
    padding-top: 14px;
    width: 100%;
    height: 60%;
    aspect-ratio: 10 / 2;
    object-fit: cover;
  }

  .project-title-container {
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
  }

  .project-title-container h2 {
    font-size: 20px;
    line-height: 25px;
    text-align: left;
    width: 57%;
  }

  .see-live-container {
    position: unset;
    display: flex;
    width: 13%;
    height: 20.5px;
    margin-left: 40px;
    align-items: center;
    background-color: #36b37e;
    padding: 6px 7px;
    border-radius: 8px;
  }

  .see-source-container {
    position: unset;
    display: flex;
    width: 15%;
    height: 14px;
    padding: 9.4px 7px;
    border-radius: 8px;
    background-color: #36b37e;
  }

  .see-project-container .project-title-container .see-live-container img {
    padding-top: 4px;
    width: 15px;
  }

  .see-project-container .project-title-container .see-source-container img {
    width: 11px;
  }

  .project-tech {
    display: flex;
    margin-top: 10px;
  }

  .project-desc {
    margin-top: 10px;
    font-size: 12px;
    line-height: 20px;
    color: #344563;
  }

  .overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c1c7d0;
    pointer-events: none;
    transition: 200ms ease-in-out;
  }

  .overlay.active {
    opacity: 1;
    pointer-events: all;
  }

  .about-me-container {
    width: 100%;
    height: 300px;
    margin-top: 150px;
    background-image: url(images/illustration-about\ me-1-desktop.svg), url(images/illustration-about-me-2-desktop.svg);
    background-size: 15%, 16%;
    background-position: 100.5% -20%, 0% 65%;
  }

  .about-me-container .article {
    width: 65vw;
    margin: 0 auto;
  }

  .skills-container-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 33%);
    column-gap: 24px;
    width: 80vw;
    margin: 60.95px auto 0 auto;
  }

  .skills-container-each {
    width: 99%;
  }

  .skills-container-each .skills {
    width: 99%;
    margin: 24px auto;
  }

  .contact-bg {
    background-image: url(images/illustration-1-contact-form-desktop.svg), url(images/illustration-2-contact-form-desktop.svg), url(images/contact\ form-illustratoin-3-desktop.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 0% 90%, 25% 82%, 100% 75%;
  }

  .contact-me-container {
    margin: 0 auto;
    height: 665px;
    width: 80vw;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
  }

  .black-bar {
    display: none;
  }

  .cm-heading h4 {
    font-size: 30px;
    word-spacing: normal;
    text-align: left;
    word-wrap: normal;
  }

  .form-container .type-in p {
    display: none;
  }

  .form-container {
    margin-left: 50px;
    width: 95%;
  }
  
  .contact-me-container .type-in {
    align-items: flex-start;
  }

  .contact-bg .social-media-icon-container {
    border-top: #dfe1e6 solid 1px;
  }

  .contact-bg .social-media-icon-box {
    margin-top: 25px;
  }

}

@media screen and (min-width: 1024px) {
  .see-project-container {
    padding: 15px;
  }

  .see-project-container #project-img {
    padding-top: 14px;
  }

  .see-live-container {
    width: 10%;
    margin-left: 150px;
  }

  .see-source-container {
    width: 12%;
  }
}
