* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: auto;
}

.container {
  width: 100vw;
  height: 820px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(images/header-illsutration-mobile.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 1.2vw 11vh;
}

.toolbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: flex-end; */
  margin-top: 44px;
  width: 100%;
  height: 48px;
}

.toolbar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 10.67%;
  height: 40px;
  right: 24px;
  border-radius: 8px;
}

.toolbar-container .toolbar-icon img {
  width: 40px;
  height: auto;
}

.headline {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 168.1013333333333%;
  height: 520px;
}

.greeting {
  margin: 64px 27px 0 27px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.heading,
h1,
h2,
h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  text-align: center;
}

.greeting span {
  color: #36b37e;
}

.article p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  margin: 15px 27px;
}

.social-media-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45.379%;
  height: 19.62px;
  margin-top: 24.85px;
  margin-left: 28%;
}

.social-media-icon-container li {
  list-style: none;
}

.social-media-icon {
  margin-right: 20px;
}

.social-media-icon:active {
  transform: scale3d(0.8, 0.8, 0.8);
}

.downarrow-container {
  margin-top: 65px;
}

.work-container {
  margin-left: 6.93%;
  margin-right: 7.46667%;
}

.work-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-container .work-title img {
  width: 12.8%;
  padding-top: 6.4%;
}

.my-projects {
  margin-top: 16.53%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(6, 480px);
  row-gap: 24px;
}

.work-cards {
  border-radius: 8px;
  border: 1px solid #d0d9d4;
  background-color: #ebf0ee;
  display: flex;
}

.work-desc {
  background-color: white;
  border-radius: 8px;
  width: 100%;
  height: 224px;
  align-self: flex-end;
}

.work-desc .languages {
  display: flex;
  justify-content: space-between;
}

.work-cards .work-desc p {
  margin: 16px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #3a4a42;
}

.work-desc .languages li {
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 12px;
  background-color: #ebf0ee;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: #3a4a42;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 29px;
}

.button-container button {
  padding: 12px;
  border: none;
  color: #fff;
  background-color: #36b37f;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
}

.work-cards .work-desc button:hover {
  background-color: #238d61;
}

.about-me-container {
  background-image: url(images/illustration\ 1-\ about\ me-mobile.svg), url(images/illustration\ 2-about\ me\ mobile.svg);
  background-size: 18.13%, 17.9%;
  padding-top: 68px;
  background-repeat: no-repeat, no-repeat;
  background-position: 100% 7%, left bottom;
}

.about-me-container .article {
  margin-top: 24px;
}

.skills-container-grid {
  max-width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 316px);
  grid-template-columns: 100%;
  row-gap: 24px;
  margin: 59px 24px 20px 24px;
}

.skills-container-each {
  border-radius: 8px;
  background-color: #ebf0ee;
  border: 1px solid #c1c7d0;
}

.skill-icon {
  margin-top: 23px;
  display: flex;
  justify-content: center;
}

.skills-container-grid .skills-container-each p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
  text-align: center;
}

.skills-container-each .skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 24px 17px;
}

.skills-container-each .skills li {
  padding: 12px;
  background-color: #fff;
  list-style: none;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #36b37e;
  margin-right: 8px;
  margin-bottom: 8px;
}
@media only screen and (min-width:768px ) {
  .container{
    height: 1140px;
    background-image: url(images/Header-llustration-desktop.svg);
    background-size: 105%;
    background-repeat: no-repeat;
    background-position: 0.2vw 0%;
  }
  main{
    height: 370px;
  }
  .greeting .heading{
    font-size: 48px;
  }
  .headline .article {
    width: 50vw;
    margin: 20px auto;
    
  }
  .headline .article p{
    text-align: center;
    text-align-last: center;
    margin: 0px;
  }
  .downarrow-container {
    margin-top: 65px;
  }
}